@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
*{
			margin: 0px;
			padding:  0px;
			font-family: 'Fira Sans', sans-serif;
		}

body{
			background-color: #000;
			background-image: url(kietgirl.png);
		}
		
		li {
			color: aliceblue;
			float: left;
			list-style-type: none;
			    margin: 1em;

		}
		d2.{
			margin-bottom: 0px;
		}